<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leechungchuen.displayapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@mipmap/displayapp_launcher"
        android:label="Display App"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.EventActivity"></activity>
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".model.CheckRfService"></service>
    </application>

</manifest>